body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:hover {
    text-decoration: none !important;
}

a {
    font-family: "futura-pt,Noto Sans CJK JP, Arial,Helvetica,sans-serif";
}

bold_1 {
    font-weight: bold !important;
}

iframe {
    border: none !important;height: 35px;
}